table{
    border-collapse: collapse;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

th{
    background-color: #ED7D31;
    color: #fff;
}


td, th{
    border: solid 1px #ED7D31;
    width: 120px;
}

tr:nth-child(odd){ /* Linhas impares */
    background-color: #FFF;
}

tr:nth-child(even){ /* Linhas pares */
    background-color: #FBE4D5;
}

span{
    color: #edc431;
}